<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ATLAS - {{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <base href="/">
    <link rel="stylesheet" href="vendors/leaflet/leaflet.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/leaflet/leaflet.js"></script>
    {{#each js}}
        <script src="js/{{this}}.js"></script>
    {{/each}}
</head>
<body>
<div class="page">
    <header>
        <h1><strong>Atlas</strong> collection de cartographies</h1>
        <h2>{{title}}</h2>
    </header>
    <div class="figure {{#each classes}}{{this}}{{/each}}" id="content">{{{content}}}</div>
</div>
</body>
</html>